body{
    background-color: lightblue;
    font-family:sans-serif;
    padding: 20px;
}

.navigation{
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("images/table-background.jpg")
}

.name-container {
    flex: 1;
   

}
.name{
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.picture-container {
    flex: 2; 
    
}

.chad-image{
    width: 100%;
}

.city-name{
    flex:1
}
.city-name img {
    width: 90%;
}

.city-text{
    flex: 1;
    margin-top: 50px;
}

.city-para{
    font-size: 18px;
    font-weight: 300;
}


.sub-image{
    width: 100%;
    height: 250px;
}


.histo-image{
    width: 200px;
    padding: 10px;
    float:right;
}
.historical-place{
   flex: 1;
}
.text-content {
    flex: 1; /* Take up remaining space */
}
.subject{
    margin: 0.5em;
    padding: 1em;
    flex: 1;
    
}

@media (min-width:960px){
    .subjects{
        display: flex;
    }

    .detail{
        display: flex;
    }

    .city-container{
        display: flex;
    }

   
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    #histo-image-left{
        float: left;
    }
    
}
